.lmj-banner{
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: right;
    padding: 32px;
    border-bottom: solid 3px black;
    align-items: end;
    text-align: right;
}
.lmj-logo-title{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.lmj-title {
	padding-left: 32px;
}

.lmj-logo {
	height: 45px;
	width: 45px;
}