.lmj-plant-list{
    max-width: 900px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.lmj-button{
    width: 150px;
    height: 60px;
    margin: 5px;
    background-color: transparent;
    border: solid 2px #31b572;
    border-radius: 10px;
}